- content_for :page_title do
  = t('about.see_whats_happening')

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex' }/
  = javascript_pack_tag 'about', integrity: true, crossorigin: 'anonymous'

- content_for :header do
  .container
    %nav.header
      .nav-left
        = render 'application/top_menu'

      .nav-right
        = link_to root_path, class: 'btn button button-primary back-to-landing' do
          = t('generic.back_to_link', link: content_tag(:span, site_hostname, class: 'text-capitalize')).html_safe

.page-header
  %h1= t('about.see_whats_happening')

  - if Setting.show_known_fediverse_at_about_page
    %p= t('about.browse_public_posts')
  - else
    %p= t('about.browse_local_posts')

#mastodon-timeline{ data: { props: Oj.dump(default_props.merge(local: !Setting.show_known_fediverse_at_about_page)) }}
#modal-container
