.container
  .public-account-header{:class => ("inactive" if account.moved?)}
    .public-account-header__image
      = image_tag (current_account&.user&.setting_auto_play_gif ? account.header_original_url : account.header_static_url), class: 'parallax'
    .public-account-header__bar
      .d-flex.align-items-start
        = link_to short_account_url(account), class: 'avatar' do
          = image_tag (current_account&.user&.setting_auto_play_gif ? account.avatar_original_url : account.avatar_static_url), id: 'profile_page_avatar', data: {original: full_asset_url(account.avatar_original_url), static: full_asset_url(account.avatar_static_url), autoplay: current_account&.user&.setting_auto_play_gif}
        .public-account-header__tabs
          .public-account-header__tabs__name
            %h1
              = display_name(account, custom_emojify: true)
              %small
                = acct(account)
                = fa_icon('lock') if account.locked?
        .public-account-header__tabs__tabs__buttons
          = account_action_button(account)
