- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %link{ rel: 'canonical', href: landing_url }/
  = render partial: 'shared/og'

- content_for :header do
  .container
    %nav.header
      .nav-left
        = render 'application/top_menu'

      .nav-right
        = link_to root_path, class: 'btn button button-primary back-to-landing' do
          = t('generic.back_to_link', link: content_tag(:span, site_hostname, class: 'text-capitalize')).html_safe

- content_for :footer do
  .d-flex.footer-inner
    %div
      %span
        = Time.new.year
      %span.text-capitalize.mr3
        = site_hostname
      %span.text-capitalize
        = t 'footer.all_rights_reserved'
    .spacer
    %div
      %span.mr3
        = link_to t('about.privacy_policy'), terms_path, class: 'decoration-none'
      %span
        = link_to t('about.terms'), terms_path, class: 'decoration-none'

.contact
  .content-overlay.br1
    %div.overlay
    %div.content
      %div
        = image_tag @instance_presenter.hero&.file&.url || @instance_presenter.thumbnail&.file&.url || asset_pack_path('media/images/brighteon-social/logo.png'), alt: @instance_presenter.site_title
      %div.contact.text-uppercase
        %span
          = t 'about.contact'
        %span
          = site_hostname
      %div
        = t('about.contact_description', host: content_tag(:span, site_hostname, class: 'text-capitalize')).html_safe
      %div
        = simple_form_for @contact, url: help_path do |f|
          - if @saved
            = f.text_area :feedback, class: 'answer', value: 'Thanks for taking the time to give us feedback. Though we can’t review and respond to every submission, we do use feedback like yours to improve the Brighteon.Social experience for everyone.'
          - else
            = f.text_area :feedback, as: :date, placeholder: t('about.contact_placeholder')

          - unless @saved
            = f.button :button, t('send_message'), type: :submit, class: 'button button-primary button-signup'
